.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 51px;
  text-align: center;
  color: #363838;
}
.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.item {
  max-width: 540px;
}
.links {
  padding-top: 20px;
  padding-bottom: 7px;
}
.data,
.author,
.theme {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #707070;
}
.itemTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #363838;
}
@media (max-width: 540px) {
  .title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 790px) {
  .items {
    display: block;
  }
  .item {
    margin: 0 auto;
  }
  .item:first-child {
    margin-bottom: 15px;
  }
}
@media (max-width: 474px) {
  .itemTitle {
    font-size: 20px;
    line-height: 31px;
  }
}
