.fluid {
  text-align: center;
}
.title {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 51px;
  color: #363838;
  margin-top: 133px;
  padding-bottom: 25px;
  margin-bottom: 24px;
}
.title::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 1px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6d7278;
}
.text {
  max-width: 730px;
  margin: 0 auto;
  padding-bottom: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #5a5a5a;
}
.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}
.item {
  position: relative;
}
.item:hover .images {
  transition: all 0.4s;
  opacity: 0.6;
}
.item:hover .info {
  transition: all 0.4s;
  opacity: 1;
}
.images {
  min-height: 350px;
  object-fit: cover;
}
.info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}
.infoTitle {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #363838;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.infoTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 1px;
  background-color: #6d7278;
  width: 60%;
}
.infoText {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #707070;
}
@media (max-width: 1366px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
  }
  .images {
    width: 100%;
  }
}
@media (max-width: 840px) {
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 540px) {
  .collection {
    grid-template-columns: repeat(1, 1fr);
  }
  .title {
    font-size: 28px;
    line-height: 36px;
  }
}
