html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  color: #5a5a5a;
  line-height: 27px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}
